* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Roboto Slab", serif;;
}

header {
	background: rgb(231, 76, 60);
	height: 10%;
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

button {
	font-size: 24px;
	padding: 5px;
}

.logo {
	font-size: 48px;
}

.top-nav {
	margin-right: 20px;
	width: 800px;
	font-size: 24px;
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.nav-link {
	background: rgb(231, 76, 60);
	display: inline-block;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: black;
}

.main-block {
	color: #ecf0f1
	width: 70%;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.picture {
	width: 70%;
	border: 1px solid black;
	border-radius: 10px;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

footer {
	height: 2%;
	text-align: center;
}